HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# ADMIN PASS: 6-qVZ6HhDNkgEdH


agy --conversation=0dc6e1e7-2d5f-45c9-b1b8-dfadc6cdd365


